.bg-seafoam {
    background-color: #D1FDFB;
}

.text-raspberry {
    color: #FF006A;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('./fonts/Gotham-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.font-gotham {
    font-family: 'Gotham-Book', sans-serif;
}

.okthx-link {
    text-decoration: none;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.8s ease-out 0.3s forwards;
    transition: transform 0.3s ease;
}

.okthx-link:hover {
    transform: scale(1.05);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}